<%- include("includes/header" )%>
<title>Home</title>
<link rel="stylesheet" href='/styles/home.css'>
</head>
<body>
    <%- include('includes/navigation') %>
<h2 class="welcome"></h2>
<div id="carouselExampleCaptions" class="carousel slide carousel-fade"  data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" >
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="https://bit.ly/3rfCzVr" class="d-block w-100 cimg" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://bit.ly/3riSMZO" class="d-block w-100 cimg" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://bit.ly/2WDAF2A" class="d-block w-100 cimg " alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<div class="container-fluid">
<div class="row">
  <% for(let i=0;i<category.length; i++) {%>
    <div class="card col-3" style="width: 18rem;">
    <a class="cardclick" href="/products/<%=category[i]%>">
      <img src="<%= image[i] %>" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title"><%= category[i] %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </a>
    </div>
    <% } %>

</div>
</div>


<%- include("includes/footer" )%>