<%- include("./includes/header" )%>
<title>Products</title>
<link rel="stylesheet" href='../styles/item.css'>
</head>
<body>
    <%- include('includes/navigation') %>
    <div class="container-fluid itemContainer">
      <h4><%-item.title%></h4>
      <img src="<%=item.img%>" class="img-fluid">
      <h6>price:$<%= item.price%></h6>
      <p><%=item.description %></p>
      <% if(isSeller){ %>
        <a class="btn btn-success" href='/update-product/<%= item._id%>'>Edit Product details</a>
        <a class="btn btn-danger" href='/delete-product/<%= item._id%>'>Delete this Product</a>
        <% } %>
    </div>



<%- include("includes/footer" )%>